body {
  background-color: rgb(253, 251, 251);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

section {
  margin: 40px;
}

#cabecalho {
  top: 0;
  position: fixed;
  background-color: green;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#minha_foto {
  margin-top: 80px;
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  background-size: contain;
}

#licoes {
  margin: 40px;
}

#rodape {
  background-color: gray;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
